html {
    font-family: "Bahnschrift";
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
}
body {
    margin: 2% 20% 2% 20%;
    background-image: url("other/main/wallpaperXP.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.headerText {
    color: rgb(141, 141, 141);
    flex: 1;
    margin: 0 5% 0 15%;
    text-align: center;
    font-size: 22px;
    background: rgb(250, 250, 250);
    border-radius: 1rem;
    padding: 0.25rem;
}

.bodyContainer {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    background: rgba(255, 255, 255, 0.4);
    border: 0.1rem solid rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    padding: 2%;
    height: 100%;
}

/*header*/
.mainHeader {
    padding-bottom: 0.4rem;
    display: flex;
    align-items: center;
}
.logo {
    width: 48px;
    height: 48px;
}


.headerButtons {
    width: 48px;
    height: 48px;
}
/*sidebarAndMainContent*/
.sidebarAndMainContent {
    display: flex;
    height: 32rem;
}

/*sidebar*/

.sidebar {
    padding-left: 1rem;
    background: rgb(226, 244, 250);
    width: 100px;
    height: 100%;
    border-radius: 15px 0 0 15px;
}
/*.sidebarCategory {
    }*/
.sidebarTitle {
    font-weight: bold;
}
    /*.sidebarTitleContent:hover .sidebarTitle {
        border-radius: 5px;
        box-shadow: 0px 1px 2px 0px rgba(25, 206, 206, 0.7),
        1px 2px 4px 0px rgba(25, 206, 206, 0.7),
        2px 4px 8px 0px rgba(25, 206, 206, 0.7),
        2px 4px 16px 0px rgba(25, 206, 206, 0.7);
        padding: 5px;
        transform: scale(1.2);
        transition-duration: 0.75s;
        background-color: rgb(87, 219, 252);
        color: rgb(36, 36, 158);
    }*/
.sidebarContent {
    font-weight: normal;
    padding-left: 8%;
    margin: 0.5rem 0 0.5rem 0;
    color: rgb(84, 84, 255);
}
/*.sidebarContentSelected {
    font-size: large;
}
.sidebarContentSelected:hover {
    font-size: large;
}
@media (orientation: portrait) {
    .sidebarContentSelected:hover {
    font-size: xx-large;
    }
}*/
.sidebarContentNotSelected {
    color: black;
    text-decoration: none;
    transition-duration: 0.75s;
}
.sidebarContentNotSelected:hover {
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgba(25, 206, 206, 0.7),
    1px 2px 4px 0px rgba(25, 206, 206, 0.7),
    2px 4px 8px 0px rgba(25, 206, 206, 0.7),
    2px 4px 16px 0px rgba(25, 206, 206, 0.7);
    padding: 5px;
    transform: scale(1.2);
    transition-duration: 0.75s;
    background-color: rgb(87, 219, 252);
    color: rgb(36, 36, 158);
}
#visitorCounter {
    justify-content: center;
    font-size: 10px;
    border-radius: 0.3rem;
    box-shadow: 0px 1px 2px 0px rgba(25, 206, 206, 0.7),
    1px 2px 4px 0px rgba(25, 206, 206, 0.7),
    2px 4px 8px 0px rgba(25, 206, 206, 0.7),
    2px 4px 16px 0px rgba(25, 206, 206, 0.7);
    padding: 0.4rem;
    background-color: rgb(87, 219, 252);
    color: rgb(36, 36, 158);
}

/*mainContent*/
.mainContent {
    width: 100%;
    padding: 15px;
    background-color: white;
    display: block;
    overflow-y: auto;
    scrollbar-color: rgb(230, 230, 230) rgb(255, 255, 255);
}
p {
    hyphens: auto;
    text-align: justify;
    text-indent: 1rem;
}
.contentHeader {
    color: rgb(113, 193, 204);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px 0;
}
.copyright {
    background-color: rgba(255, 255, 255, 0.4);
    margin-top: 1%;
    border-radius: 10px;
    padding: 5px;
    font-style: oblique;
    text-align: center;
}
.linksButton {
    flex-wrap: wrap;
    margin: 0.5rem 0em 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.linkButton {
    color: black;
    text-decoration: none;
    background-color: rgb(77, 218, 206);
    box-shadow:
        inset -2px -2px 5px rgb(198, 241, 238),
        inset 2px 2px 10px rgb(231, 248, 247);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin: 0.5rem;
    flex: 1;
    transition-duration: 0.75s;
}
.linkButton:hover {
    box-shadow: none;
    transform: scale(1.05);
    transition-duration: 0.75s;
    background-color: rgb(155, 245, 237);
}
.versionContainer {
    width: 80%;
    justify-content: center;
    align-items: center;
    border-color: rgb(74, 175, 168);
    border-radius: 0.5rem;
    border-style: solid;
    margin: 10px auto 10px auto;
    padding: 10px;
}
.version {
    box-shadow:
    inset -5px -5px 5px rgb(198, 241, 238),
    inset 5px 5px 10px rgb(231, 248, 247);
    text-align: center;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
    background-color: rgb(155, 245, 237);
}
.pictures {
    border-radius: 5px;
    transition-duration: 0.75s;
}
.pictures:hover {
    transform: scale(1.05);  
    transition-duration: 0.75s;
}
.links {
    margin: 10px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chat {
    background: linear-gradient(45deg, rgb(231, 248, 247), rgb(155, 245, 237));
    margin: 10px;
    padding: 10px;
    height: 100%;
}
@media (width < 768px) {
    body {
        margin: 1%;
    }
    .headerText {
        font-size: 16px;
    }
    .copyright {
        font-size: 0.6em;
        margin: 1% 15% 1% 15%;
    }
    .sidebar {
    display: none;
    border-radius: 0;
    }
    .sidebar:checked {
    display: block;
    }
}
@media (width >= 768px) and (width < 1300px) {
    body {
        margin: 2% 10% 2% 10%;
    }
}