/* body */
body {
    --blur: 10px;
    color: white;
    height: 100vh;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background:
        radial-gradient(900px 400px at 65% 32%,#c6fd501a,#0000 60%),
        radial-gradient(700px 420px at 20% 70%,#00b4ff14,#0000 60%),
        linear-gradient(180deg,#070a0f,#0b0f14 40%,#070a0f);
}

/* header */
header {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}
    #main-header {
        margin: 1rem;
        background-color: rgba(10, 10, 10, 0.5);
        backdrop-filter: blur(var(--blur));
        border-radius: 100vh;
    }
        #main-header-link-container {
            display: flex;
            align-items: center;
            padding: 0 0.25rem 0 0.25rem;
            margin: 0.25rem;
        }
            .main-header-icon {
               list-style-type: none;
               height: 32px;
               padding: 0;
            }
            #main-header-link {
                list-style-type: none;
                margin-left: 2rem;
                margin-right: 2rem;
                padding: 0.5rem;
                transition: 0.5s;
            }
            #main-header-link:hover {
                background-color: rgba(30, 30, 30, 0.5);
                backdrop-filter: blur(var(--blur));
                border-radius: 100vh;
                font-size: 1.5rem;
                padding: 5px 10px 5px 10px;
                transition: 0.5s;
            }
                #main-header-link a {
                    text-decoration: none;
                    color: white;
                }

/* other */
#blinking-dot {
    --blinking-dot-size: 100px;
    float: right;
    margin:
        var(--blinking-dot-size)
        var(--blinking-dot-size)
        var(--blinking-dot-size)
        var(--blinking-dot-size);
    font-size: var(--blinking-dot-size);
}

#blinking-dot::after {
    content: "_";
    animation: dot-blink 1s infinite;
}
@keyframes dot-blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}
