html {
    /*font-family: "Bahnschrift";*/
    font-family: Arial, Helvetica, Verdana, sans-serif;
}

body {
    background-image: linear-gradient(30deg, rgb(255, 0, 150), rgb(0, 0, 150));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: black;
}

/* Header */
#header {
    padding: 0;
    display: flex;
    justify-content: space-around;
    backdrop-filter: blur(5px);
    margin: 1rem;
    border: black, solid;
    border-radius: 1rem;
}
.headerElement {
    list-style-type: none;
}

/* ID */

/* Class */
.mainContent {
}
